.launches-card {
    position: relative;
    height: 400px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.launches-card-frame {
    width: 90%;
    height: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.launches-card-image {
    width: 100%;
    height: auto;
    object-fit: fill;
    object-position: center;
}

.fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
}

p {
    margin: 0.5rem;
}
